.demo-app {
  width: 100%;
  height: 100%;

}

.layout {
  background: white;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-left {
  width: 10%;
  min-width: 200px;
}

.flex-right {
  width: 90%;
}

